td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group {
    margin: 20px 0px;

}

td:first-of-type, td:first-of-type > div {
    width: 250px;
    height: 200px;
}